header ul {
    padding-left: 2em;
    padding-top: 2em;
    margin-bottom: 0;
    background-color: rgb(107, 15, 33);
    display: flex;
    justify-content: space-around;
    align-self:center;
    float: none;
    }

    body{
    background-color:rgb(180, 165, 165);
    }
    .menu{
        color: white;
        font-family: Nova Cut;
        text-decoration: none;
        font-size: 25px;
    }
    @font-face {
        font-family: Nova Cut;
        src: url(Nova_Cut/NovaCut-Regular.ttf);
    }

    .menuarte{
        display: inline-block;
        cursor: pointer;
        font-family: Nova Cut;
        color: white;
        position: relative;
        font-size: 25px;
    }

    .menuarte:hover .menu-menu {
        display: block;
    }

    .menu-menu{
        background-color: rgb(180, 165, 165);
        border: 1px solid #ccc;
        border-radius: 0.3em;
        box-shadow: 3px 3px 3px;
        position: absolute;
        justify-content: space-between;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        display: none;
        font-family: Nova Cut;
        list-style-type: none;
        columns: start;
    }

    .menuu{
        position: relative;

    }

    .la{
        text-decoration: none;
        margin-right: 28px;
    }

    #Alex{
        width: 433px;
        margin-top: 2.5%;
        margin-left: 27%;
    }

    #a{
        width: 153px;
        float: right;
        margin-right: 27%;
        margin-top: 3%;
    }

    h1{
        text-align: center;
    }

    #n, h2{
        text-align: center;
        margin-top: 4%;
    }

    #brasil{
        margin-left: 10%;
        margin-right: 10%;
    }

    .i{
        width: 300px;
        margin-top: 3%;
        margin-left: 27%;
    }

    #pioneiro{
        width: 254px;
        float: right;
        margin-right: 29%;
        margin-top: 6.5%;
    }

    .j{
        width: 400px;
        margin-top: 3%;
        margin-left: 27%;
    }

    .morte{
        width: 150px;
        float: right;
        margin-right: 29%;
        margin-top: 5%;
    }
    
    .preta{
        width: 333px;
        margin-top: 3%;
        margin-left: 27%;
    }

    #bota{
        width: 300px;
        float: right;
        margin-right: 24%;
    }

    #premio{
        width: 400px;
        margin-top: 2.5%;
        margin-left: 29%;
    }

    .ganhou{
        width: 110px;
        float: right;
        margin-right: 29%;
        margin-top: 4%;
        margin-block-end: 10%;
    }
