header ul {
    padding-left: 2em;
    padding-top: 2em;
    margin-bottom: 0;
    background-color: rgb(107, 15, 33);
    display: flex;
    justify-content: space-around;
    align-self:center;
    float: none;
    }

    header a:hover {
        color: black;
    }

    body{
    background-color:black;
    }
    .menu{
        color: white;
        font-family: Nova Cut;
        text-decoration: none;
        font-size: 25px;
    }
    @font-face {
        font-family: Nova Cut;
        src: url(Nova_Cut/NovaCut-Regular.ttf);
    }

    .menuarte{
        display: inline-block;
        cursor: pointer;
        font-family: Nova Cut;
        color: white;
        position: relative;
        font-size: 25px;
    }

    .menuarte:hover .menu-menu {
        display: block;
    }

    .menu-menu{
        background-color: rgb(180, 165, 165);
        border: 1px solid #ccc;
        border-radius: 0.3em;
        box-shadow: 3px 3px 3px;
        position: absolute;
        justify-content: space-between;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        display: none;
        font-family: Nova Cut;
        list-style-type: none;
        columns: start;
    }

    .menuu{
        position: relative;

    }

    .la{
        text-decoration: none;
        margin-right: 28px;
        
    }
    
    h1{
        text-align: center;
        margin-top: 3%;
        color: white;
    }

    #bebe{
        width: 406px;
        margin-right: 33%;
        float: right;
        margin-top: 2.5%;
    }

    #passos{
        width: 200px;
        margin-top: 7%;
        margin-left: 33%;
        color: white;
    }

    h2{
        text-align: center;
        margin-top: 5%;
        color: white;
    }

    #melo{
        margin-top: 1.5%;
        margin-right: 20%;
        margin-left: 20%;
        color: white;
    }

    #seguintes{
        margin-top: 1.5%;
        text-align: center;
        color: white;
    }

    td{
        border: 1px solid white;
        color: white;
    }

    th{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 1em;
        text-align: center;
        color: white;
        background-color: rgb(33, 4, 49);
    }

    table{
        margin-left: auto;
        margin-right: auto;
        margin-block-end: 10%;
    }