header ul {
    padding-left: 2em;
    padding-top: 2em;
    margin-bottom: 0;
    background-color: rgb(107, 15, 33);
    display: flex;
    justify-content: space-around;
    align-self:center;
    float: none;
    }

    header a:hover {
        color: black;
    }

    body{
    background-color:black;
    }
    .menu{
        color: white;
        font-family: Nova Cut;
        text-decoration: none;
        font-size: 25px;
    }
    @font-face {
        font-family: Nova Cut;
        src: url(Nova_Cut/NovaCut-Regular.ttf);
    }

    .menuarte{
        display: inline-block;
        cursor: pointer;
        font-family: Nova Cut;
        color: white;
        position: relative;
        font-size: 25px;
    }

    .menuarte:hover .menu-menu {
        display: block;
    }

    .menu-menu{
        background-color: rgb(180, 165, 165);
        border: 1px solid #ccc;
        border-radius: 0.3em;
        box-shadow: 3px 3px 3px;
        position: absolute;
        justify-content: space-between;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        display: none;
        font-family: Nova Cut;
        list-style-type: none;
        columns: start;
    }

    .menuu{
        position: relative;

    }

    .la{
        text-decoration: none;
        margin-right: 28px;
        
    }
    
    h1{
        text-align: center;
        margin-top: 3%;
        color: white;
    }

    #nasceu{
        width: 200px;
        margin-top: 7%;
        float: right;
        margin-right: 32%;
        color: white;
    }

    #de{
        text-align: center;
        margin-top: 2.5%;
        color: white;
        
    }

    .fe{
        width: 250px;
        margin-left: 32%;
        margin-top: 4.5%;
    }

    .antes{
        margin-left: 23%;
        margin-right: 23%;
        margin-top: 1.5%;
        color: white;
    }

    .primeiro{
        width: 400px;
        margin-left: 18%;
        margin-top: 4%;
        color: white;
     
    }

    #retro{
        width: 345px;
        float: right;
        margin-top: -15%;
        margin-right: 25%;
    }

    #papel{
        width: 435px;
        margin-left: 47%;
        margin-top: 6%;
        color: white;
    }

    #muralha{
        width: 433px;
        margin-right: 10%;
        margin-top: -40%;
    }

    .pioneira{
        width: 400px;
        margin-top: 1%;
        margin-left: 18%;
        color: white;
    }

    #cinema{
        margin-top: 1.5%;
        margin-left: 23%;
        margin-right: 23%;
        color: white;
    }

    #fu{
        text-align: center;
        margin-top: 11%;
        color: white;
    }

    
