header ul {
    padding-left: 2em;
    padding-top: 2em;
    margin-bottom: 0;
    background-color: rgb(107, 15, 33);
    display: flex;
    justify-content: space-around;
    align-self:center;
    float: none;
    }

    header a:hover {
        color: black;
    }

    body{
    background-color:black;
    }
    .menu{
        color: white;
        font-family: Nova Cut;
        text-decoration: none;
        font-size: 25px;
    }
    @font-face {
        font-family: Nova Cut;
        src: url(Nova_Cut/NovaCut-Regular.ttf);
    }

    .menuarte{
        display: inline-block;
        cursor: pointer;
        font-family: Nova Cut;
        color: white;
        position: relative;
        font-size: 25px;
    }

    .menuarte:hover .menu-menu {
        display: block;
    }

    .menu-menu{
        background-color: rgb(180, 165, 165);
        border: 1px solid #ccc;
        border-radius: 0.3em;
        box-shadow: 3px 3px 3px;
        position: absolute;
        justify-content: space-between;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        display: none;
        font-family: Nova Cut;
        list-style-type: none;
        columns: start;
    }

    .menuu{
        position: relative;

    }

    .la{
        text-decoration: none;
        margin-right: 28px;
        
    }

    #filme{
        text-align: justify;
        width: 370px;
        font-size: 15px;
        float: left;
        margin-left: 19%;
        color: white;
    }

    #lumiere{
        width: 33%;
        margin-top: 2.5%;
        float: right;
        margin-right: 19%;
    }

    h1{
        text-align: center;
        color: white;
    }

    #titulo{
        margin-left: 19%;
        margin-top: 40%;
        color: white;
    }

    #central{
        width: 68%;
        margin-left: 19%;
        color: white;
    }

    .do{
        width: 200px;
        margin-top: 3%;
        margin-left: 28%;
    }

    #centro{
        width: 350px;
        float: right;
        margin-right: 28%;
        margin-top: 5%;
        color: white;
    }

    #da{
        margin-top: 10%;
        margin-left: 19%;
        color: white;
    }

    .comp{
        margin-left: 19%;
        width: 68%;
        color: white;
    }

    .alto{
        width: 200px;
        margin-top: 3%;
        margin-left: 28%;
    }

    #mari{
        margin-top: 10%;
        margin-left: 19%;
        color: white;
    }

    .text{
        margin-left: 19%;
        width: 68%;
        color: white;
    }

    .sinopse{
        width: 350px;
        float: right;
        margin-right: 28%;
        margin-top: 9%;
        color: white;
    }

    #alto{
        width: 200px;
        margin-top: 3%;
        margin-left: 28%;
    }