header ul {
    padding-left: 2em;
    padding-top: 2em;
    margin-bottom: 0;
    background-color: rgb(107, 15, 33);
    display: flex;
    justify-content: space-around;
    align-self: center;
    float: none;
}

header a:hover {
    color: black;
}

body {
    background-color: rgb(180, 165, 165);
}

.menu {
    color: white;
    font-family: Nova Cut;
    text-decoration: none;
    font-size: 25px;
}

@font-face {
    font-family: Nova Cut;
    src: url(Nova_Cut/NovaCut-Regular.ttf);
}

.menuarte {
    display: inline-block;
    cursor: pointer;
    font-family: Nova Cut;
    color: white;
    position: relative;
    font-size: 25px;
}

.menuarte:hover .menu-menu {
    display: block;
}

.menu-menu {
    background-color: rgb(180, 165, 165);
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-shadow: 3px 3px 3px;
    position: absolute;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: none;
    font-family: Nova Cut;
}

.menuu {
    position: relative;

}


li {
    padding: 0.2em;
}

.arte-plus,
.arte-minus {
    cursor: pointer;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    min-height: 50vh;
}

.box.move {
    position: relative;
    width: 50%;
    height: 50vh;
    filter: grayscale(1);
}

.box.move:hover {
    filter: grayscale(0);
}

.box.move video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.la {
    color: white;
}

.clip {
    display: fixed;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2em;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 1.2em;
    border-radius: 4%;
    height: 21em;
}

.move:active {
    scale: calc(2.0);
}

video#g {
    margin-left: 1004px;
    margin-top: -743px;
}
video#g:active{
    scale: calc(2.0);
}

video#a {
    margin-left: 600px;
    margin-top: 201px;
}

video#b {
    margin-left: 61px;
    margin-top: 81px;
}

video#c {
    margin-left: 545px;
    margin-top: 32px;
}