header ul {
    padding-left: 2em;
    padding-top: 2em;
    margin-bottom: 0;
    background-color: rgb(107, 15, 33);
    display: flex;
    justify-content: space-around;
    align-self:center;
    float: none;
    }

    body{
    background-color:rgb(0, 0, 0);
    }
    .menu{
        color: white;
        font-family: Nova Cut;
        text-decoration: none;
        font-size: 25px;
    }
    @font-face {
        font-family: Nova Cut;
        src: url(Nova_Cut/NovaCut-Regular.ttf);
    }

    .menuarte{
        display: inline-block;
        cursor: pointer;
        font-family: Nova Cut;
        color: white;
        position: relative;
        font-size: 25px;
    }

    .menuarte:hover .menu-menu {
        display: block;
    }

    .menu-menu{
        background-color: rgb(180, 165, 165);
        border: 1px solid #ccc;
        border-radius: 0.3em;
        box-shadow: 3px 3px 3px;
        position: absolute;
        justify-content: space-between;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        display: none;
        font-family: Nova Cut;
        list-style-type: none;
        columns: start;
    }

    .menuu{
        position: relative;

    }

    .la{
        text-decoration: none;
        margin-right: 28px;
        
    }
    #mus{
        
        width: 1000px;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
        color: white;
        text-align: justify;
        font-size: 16px;
        


    }

    h1{
        text-align: center;
        color: white;
    }

    h2{
       text-align: left;
    }

    .texto{
        width: 180px;
        margin-left: 27%;
    }

    .pre{
        float: right;
        width: 200px;
        margin-right:27%;
    }

    #Evo{
        width: 1000px;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
        color: white;
        text-align: justify;
        font-size: 16px;
        margin-bottom: 40%;
    }

    .musi{
        height: 300px;
        width: 3450px;
        width: 300px;
        margin-top: 3%;
        margin-left: 40%;
       
    }

    #media{
        width: 1000px;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
        color: white;
        text-align: justify;
        font-size: 18px;
        margin-bottom: 60%;
    }

    .idade{
        height: 300px;
        width: 3450px;
        width: 300px;
        margin-top: -35%;
        margin-left: 40%;
      

    }

    #roco{
        width: 1000px;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
        color: white;
        text-align: justify;
        font-size: 18px;
        
    }

    .bar{
        height: 450px;
        width: 500px;
        margin-top: -80%;
        margin-left: 30%;
    }