body{
    background-color: black;
    
}

.enter{
    font-family: 'Courier New', Courier, monospace ;
    font-size: 35px;
    color: white;
    align-self: flex-end;
    display: grid;
    justify-content: center;
    text-decoration: none;
    text-align: end;
}

body:hover{
    cursor: pointer;
    animation: cor 15s infinite;
}

@keyframes cor{
    0%{background-color: rgb(206, 17, 17);}
    15%{background-color: rgba(146, 6, 6, 0.788);}
    30%{background-color: rgb(131, 39, 16);}
    50%{background-color: rgb(196, 78, 11);}
    75%{background-color: rgb(187, 108, 5);}
    100%{background-color: rgb(233, 233, 70);}
}

.van{
    height: 175px;
}

.paisagem{
    width: 178px;
    position: absolute;
    top: 300px;
}

.picasso{
    height: 200px;
    right: 200px;
    position: absolute;
}

.gogh{
    position: absolute;
    height: 250px;
    top: 300px;
    right: 37px;
}